.basket{
    margin: auto;
    @include shadow_light;
    width: 80%;
    margin-top: 25px;
    margin-bottom: 75px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.basket h2{
    text-align: center;
    margin-bottom: 25px;
}

.product_added{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
    column-gap: 5%;
    row-gap: 20px;
    width: 75%;
    margin: auto;
    text-align: center;
    margin-bottom: 45px;
}

.total_product{
    text-align: center;
    margin-bottom: 40px;
}

.btn_validate{
    
    @include center;
    margin: auto;
}



form{
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    column-gap: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

form div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
