.bloc_confirm{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    @include shadow-light;
    max-width: 1500px;
}

@media (max-width:600px){
    .bloc_confirm{
        width:100%;
        padding:0px;
    }
}

.bloc_confirm h1{
    margin-bottom: 20px;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 30px;
}

.info_order{
    padding-left:20px;
    padding-right: 20px;
}

.info_order p{
    margin-bottom: 5px;
}
.info_order p span{
    font-family: bold;

}

.thank_mess{
    margin-top: 20px;
    padding-left:20px;
    padding-right: 20px;
    padding-bottom: 30px;
}