.bloc_image{
    height:350px;
    position: relative;
    
}

.bloc_image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0.6;
   
}

.bloc_image p{
    position: absolute;
    width:100%;
    text-align: center;
    top:40%;
    font-size: 1.5rem;
    font-family: bold;
}

.bloc_produits h2{
    @include center;
    margin-top: 20px;
    
}

.produits{
    margin-top: 30px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
    row-gap: 30px;
    margin-right: 5%;
    margin-left:5%;
    margin-bottom: 50px;
}

@media (min-width: 1900px) {
    .produits{
        max-width: 1900px;
        @include center;
    }
}

@media (max-width: 1060px){
    .produits{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:725px){
    .produits{
        grid-template-columns: 1fr;
    }
}

.text_error{
    font-family: bold;
    font-size: 1.4em;
    color: red;
    @include center;
    text-align: center;
}
.card_product{
    height: 350px;
    border-radius: 1rem;
    max-width: 480px;
    @include shadow_light;
    margin-left: auto;
    margin-right: auto;

}

.card_img{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 65%;
    width: 100%;
}

.heading_card, .description_card{
    margin-left: 4%;
    margin-right: 4%;

}
.heading_card{
    @include space;
}

.description_card{
    margin-top:7px;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}