.product{
    max-width:650px;
    height: auto;
    margin-top:50px;
    margin-left:5%;
    margin-right: 5%;
    margin-bottom: 75px;
    border-radius: 1rem;
    @include shadow_light;
    & img{
        width:100%;
        height:40%;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
    }
}

@media(min-width:650px){
    .product{
    margin-left: auto;
    margin-right: auto;
    }
}

.title_product, .description_product, .price_product{
    margin-top: 7px;
}

.price_product{
    margin-top: 10px;
    font-family: bold;
}

.infos_product{
    margin-right: 4%;
    margin-left: 4%;
}
.infos_order{
    margin-top: 15px;
    margin-right: 4%;
    margin-left: 4%;
}

.label_product_page{
    display: inline-block;
    padding-right: 10px;
}

#quantity_product{
    margin-bottom: 25px;
    height:25x;
}

#color_product{
    height:25px;
    margin-bottom: 20px;
}

.div_basket{
    @include center;
     
}

#btn_add{
    @include shadow_light;
    border: 1.5px solid grey;
    border-radius: 2rem;
    padding: 1rem;
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
    color: white;
    font-family: bold;
    font-size: 1em;

}

.validError{
    margin: auto;
    padding-bottom: 25px;
}
.textError{
    margin-top: 10px;
    margin-bottom: 15px;
    height: 30px;
    background: 	#FA8072;
    @include center;
    font-family: bold;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    width: 60%;
    padding:1rem;
}

.textValidate{
    background:#90EE90;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 30px;
    @include center;
    font-family: bold;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    width: 60%;
    padding:1rem;


}

