body, h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: bold;
  src: url(../Font/Merriweather-Bold.otf);
}
@font-face {
  font-family: normal;
  src: url(../Font/Merriweather-Light.otf);
}
h1, h2, h3, h4, a, span {
  font-family: bold;
}

p {
  font-family: normal;
}

img {
  object-fit: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #162B32;
  height: 70px;
}

header a {
  padding-left: 2%;
  color: white;
}

nav {
  padding-right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: white;
  font-size: large;
}

.linkProduits {
  margin-right: 2.5rem;
}

.bloc_image {
  height: 350px;
  position: relative;
}

.bloc_image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

.bloc_image p {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
  font-size: 1.5rem;
  font-family: bold;
}

.bloc_produits h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.produits {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5%;
  row-gap: 30px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 50px;
}

@media (min-width: 1900px) {
  .produits {
    max-width: 1900px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1060px) {
  .produits {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 725px) {
  .produits {
    grid-template-columns: 1fr;
  }
}
.text_error {
  font-family: bold;
  font-size: 1.4em;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card_product {
  height: 350px;
  border-radius: 1rem;
  max-width: 480px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card_img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 65%;
  width: 100%;
}

.heading_card, .description_card {
  margin-left: 4%;
  margin-right: 4%;
}

.heading_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description_card {
  margin-top: 7px;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.product {
  max-width: 650px;
  height: 650px;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 75px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product img {
  width: 100%;
  height: 50%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

@media (min-width: 650px) {
  .product {
    margin-left: auto;
    margin-right: auto;
  }
}
.title_product, .description_product, .price_product {
  margin-top: 7px;
}

.price_product {
  margin-top: 10px;
  font-family: bold;
}

.infos_product {
  margin-right: 4%;
  margin-left: 4%;
}

.infos_order {
  margin-top: 15px;
  margin-right: 4%;
  margin-left: 4%;
}

#quantity_product {
  margin-bottom: 25px;
  height: 25x;
}

#color_product {
  height: 25px;
  margin-bottom: 20px;
}

.div_basket {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_add {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid transparent;
  border-radius: 2rem;
  padding: 1rem;
  background: #faef99;
}

.basket {
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 80%;
  margin-top: 25px;
  margin-bottom: 75px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.basket h2 {
  text-align: center;
  margin-bottom: 25px;
}

.product_added {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  column-gap: 5%;
  row-gap: 20px;
  width: 75%;
  margin: auto;
  text-align: center;
  margin-bottom: 45px;
}

.total_product {
  text-align: center;
  margin-bottom: 40px;
}

.btn_validate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

form {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
  column-gap: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

form div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bloc_confirm {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 1500px;
}

@media (max-width: 600px) {
  .bloc_confirm {
    width: 100%;
    padding: 0px;
  }
}
.bloc_confirm h1 {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}

.info_order {
  padding-left: 20px;
  padding-right: 20px;
}

.info_order p {
  margin-bottom: 5px;
}

.info_order p span {
  font-family: bold;
}

.thank_mess {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
